.select {
  min-width: 120px;
  height: 36px;
  padding: 2px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.051);
  border: 1px solid #e6e6e6;
  border-radius: 4px;

  p {
    font-weight: bold;
    margin-left: 4px;
  }

  .re-select {
    width: 100%;
  }

  .css-yk16xz-control {
    border: none;
  }

  .css-1okebmr-indicatorSeparator {
    display: none;
  }

  .css-1uccc91-singleValue {
    color: #4d4f5c;
  }

  .css-1pahdxg-control {
    border: none;
    box-shadow: none;
  }
}

.ReactFlagsSelect-module_disabledBtn__3A4GF {
  background: white !important;
}
